repos:
  - repo: https://github.com/tsvikas/sync-with-uv
    rev: v0.5.0
    hooks:
      - id: sync-with-uv
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.9
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: zuban
        name: Zuban type checker
        entry: uv run --frozen zmypy
        language: system
        types: [python]
        pass_filenames: false
